%h1 Listing logs

%table
  %tr
    %th Timestamp
    %th Routine
    %th Tag
    %th Cdata
    /
      %th
      %th
      %th

  - @logs.each do |log|
    %tr
      %td{nowrap: 'nowrap'}= log.timestamp
      %td= log.routine
      %td= log.tag
      %td{nowrap: 'nowrap'}= log.cdata
      /
        %td= link_to 'Show', log
        %td= link_to 'Edit', edit_log_path(log)
        %td= link_to 'Destroy', log, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Log', new_log_path
